@(compradoresForm: Form[Comprador], compradores: List[Comprador]) 

@import helper._


<h1>Compradores</h1>

<h2>@compradores.size() compradores</h2>

<table border="2">
	<tr>
		<td>ID</td>
		<td>NOME</td>
		<td>CPF</td>
	</tr>
	
	@for(Comprador <- compradores) {

	<tr>
		<td>@Comprador.id</td>
		<td>@Comprador.nome</td>
		<td>@Comprador.cpf</td>
		<td>@form(routes.Imobiliaria.deletaComprador(Comprador.id)) { <input
			type="submit" value="Delete"> }
		</td>
	</tr>


	}

</table>



@form(routes.Imobiliaria.adicionaComprador()) {

@inputText( field = compradoresForm("nome"), args = '_label -> "Qual o nome", 'placeholder -> "Digite o nome do comprador" )

@inputText( field = compradoresForm("cpf"), args = '_label -> "Qual o cpf",'placeholder -> "Digite o cpf do comprador" )

<input type="submit" value="Adicionar">

} 
