@(imovelform: Form[Imovel], imoveis: List[Imovel], compradores: List[Comprador]) 

@import helper._
@import models.Comprador


<h1>Imoveis</h1>

<h2>@imoveis.size() imoveis</h2>

<table border="2">
	<tr>
		<td>ID</td>
		<td>ENDERECO</td>
		<td>TIPO</td>
		<td>COMPRADOR</td>
		<td>DELETAR</td>
	</tr>
	@for(Imovel <- imoveis) {

	<tr>
		<td>@Imovel.id</td>
		<td>@Imovel.endereco</td>
		<td>@Imovel.tipo</td>
		<td>@Imovel.comprador.toString()</td>
		

		<td>@form(routes.Imobiliaria.deletaImovel(Imovel.id)) { <input
			type="submit" value="Delete"> }
		</td>
	</tr>


	}

</table>




<h2>Adicionar um novo imovel</h2>

@form(routes.Imobiliaria.salvaImovel()) {

@inputText( field = imovelform("endereco"), args = '_label -> "Qual o endereco", 'placeholder -> "Digite o seu endereco" )

@inputText( field = imovelform("tipo"), args = '_label -> "Qual o tipo",'placeholder -> "Digite o tipo" )

<select name="compradores">
@for(Comprador <- compradores) {
<option value=@Comprador.id>@Comprador.nome</option>
}
</select>

<input type="submit" value="Adicionar">

}

